@import url('https://fonts.googleapis.com/css2?family=Geist:wght@600&display=swap');

:root {
	--gobal-background-color: rgb(239, 239, 236);
	--primary-background-color: rgb(255, 255, 255);
	--secondary-background-color: rgb(30, 31, 31);
	--third-background-color: rgb(211, 211, 211);
	--primary-text-color: rgb(255, 255, 255);
	--secondary-text-color: rgb(30, 31, 31);
	--button-primary-background-color: rgb(4, 145, 23);
	--button-secondary-background-color: rgba(13, 110, 253, 1);
	--stream-background-color: rgb(6, 6, 6);
	--underline-primary-color: rgb(209, 207, 201);
	--8px: 0.5rem;
	--10px: 0.63rem;
	--12px: 0.75rem;
	--14px: 0.88rem;
	--16px: 1rem;
	--18px: 1.13rem;
	--20px: 1.25rem;
	--22px: 1.38rem;
	--24px: 1.5rem;
	--28px: 1.75rem;
}

* {
	padding: 0;
	margin: 0;
	outline: none;
	border: none;
	box-sizing: border-box;
}

body {
	background-color: var(--gobal-background-color);
}

a {
	text-decoration: none;
	color: inherit;
}

p {
	font-family: 'Geist', sans-serif;
	font-weight: 600;
	font-style: normal;
	color: var(--primary-text-color);
}

.horizontalScrollStyles {
	overflow-x: auto;
	width: 100%;
}

.VerticalscrollStyles {
	overflow-y: auto;
	height: 100%;
}

.meetingCard {
	background-color: Var(--card-primarybackground-color);
	height: 420px;
	width: 100%;
	display: flex;
	flex-direction: column;
	border-radius: 2rem;
	border: 2px solid var(--underline-primary-color);
	padding: 20px;
}

.joinmeetingactions {
	width: 50%;
	height: 100%;
	padding: 0px 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

/* .joinmeetingvideo {
	width: 100%;
	height: 100%;
	border-radius: 0.2rem;
} */

.joinmeetingactioncontainer {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	/* display: grid; */
	/* grid-template-columns: 1fr 1fr; */
	/* flex-direction: row; */
	margin: 15px 0px 0px 0px;
}

.inputField {
	width: 100%;
	color: var(--secondary-background-color);
	display: inline;
	border-radius: 7px;
	padding: 10px;
	border: 2px solid var(--underline-primary-color);
}

.labelTextStyle {
	color: var(--secondary-text-color);
	font-size: clamp(var(--12px), 3vw, var(--16px));
}

.mainPageTitle {
	font-size: clamp(var(--20px), 4vw, var(--24px));
	color: var(--secondary-background-color);
	text-align: center;
}

.OrTextStyle {
	color: var(--secondary-text-color);
	font-size: clamp(var(--14px), 4vw, var(--16px));
	text-align: center;
	margin: 0px 0px 10px opx;
}

.button {
	height: 42px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 0;
	border-radius: 0.5rem;
	padding: 15px;
	cursor: pointer;
}

.buttonText {
	color: var(--primary-text-color);
	font-size: var(--14px);
	margin: 0;
	padding: 0;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	text-transform: uppercase;
}

.stream {
	margin: 3rem;
	height: 420px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--stream-background-color);
}

@media only screen and (max-width: 894px) {
	.meetingCard {
		height: 100vh;
	}

	.joinmeetingactioncontainer {
		grid-template-columns: 1fr;
	}

	.joinmeetingvideo {
		height: 450px;
	}

	.joinmeetingactions {
		margin: 0px;
		width: 100%;
	}
	.stream {
		height: 100dvh;
		min-height: 320px;
	}
}
/* @media (min-width: 300px) and (max-width: 540px) {
}

@media (min-width: 100px) and (max-width: 299px) {
} */
